DB_HOST=postgres
DB_PORT=5432

DB_NAME=meetlink
DB_USERNAME=meetlink
DB_PASSWORD=

SPRING_PROFILES_ACTIVE=local
APP_IMAGE=
CANARY_APP_IMAGE=

KAKAO_API_KEY=

SENTRY_DSN=

GF_USERNAME=admin
GF_PASSWORD=
